{%extends 'index.html'%}


{%block content%}
<br>
<br>
<br>

<br>
<div class="parent-div">

    <div class="card">
        <div class="card-header" style="background-color: #0e4D92; color: #F5F5DC;">
          <b>SELECT BRANCH</b>
          
        </div>
      
        <li class="list-group-item">
          <a href="{%url 'transaction_home'%}" class="btn btn-outline-dark btn-block mybuttons ">
            <b>Branch 1</b></a>
        </li>


        <li class="list-group-item">
          <a href="{%url '2transaction_home'%}" class="btn btn-outline-dark btn-block mybuttons ">
            <b>Branch 2</b></a>
        </li>

      <li class="list-group-item">
        <a href="" class="btn btn-outline-dark btn-block mybuttons ">
          <b>Branch 3</b></a>
        </li>
  
          <li class="list-group-item">
            <a href="" class="btn btn-outline-dark btn-block mybuttons ">
              <b>Branch 4</b></a>
          </li>
         
          
         
      </div>
  </div>

<br>




{%endblock%}