{%extends 'index.html'%}


{%block content%}
<br>
<br>
<br>

<br>
<div class="parent-div">

    <div class="card">
        <div class="card-header" style="background-color: #0e4D92; color: #F5F5DC;">
          <b>SELECT BRANCH</b>
          
        </div>
      
        <li class="list-group-item">
          <a href="{%url 'transaction_home'%}" class="btn btn-outline-dark btn-block mybuttons ">
            <b>Jogoo branch 1</b></a>
        </li>


        <li class="list-group-item">
          <a href="{%url '2transaction_home'%}" class="btn btn-outline-dark btn-block mybuttons ">
            <b>Jogoo branch 2</b></a>
        </li>

      <li class="list-group-item">
        <a href="{%url '3transaction_home'%}" class="btn btn-outline-dark btn-block mybuttons ">
          <b>Jogoo branch 3</b></a>
        </li>
  
          <li class="list-group-item">
            <a href="{%url '4transaction_home'%}" class="btn btn-outline-dark btn-block mybuttons ">
              <b>Jogoo branch 4</b></a>
          </li>
         
        <li class="list-group-item">
            <a href="{%url '5transaction_home'%}" class="btn btn-outline-dark btn-block mybuttons ">
              <b>Jogoo branch 5</b></a>
        </li>
         
    </div>
  </div>

<br>

{%endblock%}