{%extends 'index.html'%}

{%block content%}
<br>
<br>
<br>
<br>
<div class="parent-div">

   <div class="card">
      <a href="{%url 'branches'%}" class="btn btn-outline-primary  btn-block mybuttons ">
         <b>Go back</b></a>
   </div>
   
</div>

<br>
<div class="parent-div">

   <div class="card">
      video 1
      
      <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/flR5S9rsRNU" allowfullscreen></iframe>
      </div>
     
   </div>
</div>
<br>
<br>
<div class="parent-div">

   <div class="card">
      video 2
      
      <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VEmRdMS-hb8" allowfullscreen></iframe>
      </div>
     
   </div>
</div>

<br>
<br>
<div class="parent-div">

   <div class="card">
  
      video 3
      <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YBUPwV_fwTQ" allowfullscreen></iframe>
      </div>
     
   </div>
</div>

<br>
<br>
<div class="parent-div">

   <div class="card">
  
      video 4
      <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WJV7vBl4xeI" allowfullscreen></iframe>
      </div>
     
   </div>
</div>


<br>
<br>
<div class="parent-div">

   <div class="card">
  
      video 5
      <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZqC4r0cmwy8" allowfullscreen></iframe>
      </div>
     
   </div>
</div>

<br>
<br>
<div class="parent-div">

   <div class="card">
  
      video 6
      <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/JcZAzsfp2FY" allowfullscreen></iframe>
      </div>
     
   </div>
</div>

<br>
<br>
<div class="parent-div">

   <div class="card">
  
      video 7
      <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mp-N3TyzXCw" allowfullscreen></iframe>
      </div>
     
   </div>
</div>

<br>
<br>
<div class="parent-div">

   <div class="card">
  
      video 8
      <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OcPPCoQ5fg8" allowfullscreen></iframe>
      </div>
     
   </div>
</div>


{%endblock%}


