{%extends 'index.html'%}

{%block content%}
<br>
<br>
<br>
<br>
<div class="parent-div">

   <div class="card">
      <a href="{%url 'branches'%}" class="btn btn-outline-primary  btn-block mybuttons ">
         <b>Go back</b></a>
   </div>
   
</div>
<br>
<div class="parent-div">


<div class="card">
 <div class="card-header" style="background-color: white; color:black">
<h4>Making a sale or collecting money for service</h4> 

 </div>
 <div class="card-body">
  <div class="card-text">
   1.Click on add products button to add your products or services and their prices.
   2.Add your employee details using the add employee button.<br>
   3.Click on sale or payment button and select the services or products your are selling.<br>
   4.Select mode of sale or payment options are cash,bank or mpesa<br>
   5.Enter the total price charged in the respective field.<br>
   6.Enter customer payment in the respective field though its optional depending on your business<br>
   7.Click the submit button and you will be redirected to the receipt<br>
   8.There is an option of printing or sharing receipt ,choose either.<br>
   9.For credit sale ,click on sell on credit and the follow the same steps.
</div>
</div>

</div>
</div>

<br>

<div class="parent-div">
    <div class="card">
     <div class="card-header" style="background-color: white; color:black">
    <h4>Making a purchase</h4> 
    
     </div>
     <div class="card-body">
      <div class="card-text">
       1.Click on the purchase button.<br>
       2.Enter the products you are purchasing in the respective field.<br>
       3.Enter the total price charged for the products.<br>
       4.Choose your mode of payment.<br>
       5.Select employee making the purchase<br>
       6.Then click on submit purchase button and you will taken to the purchases page .<br>
       7.To purchase on credit click on purchase on credit and follow the same steps.
    </div>
    </div>
    
    </div>
    </div>
    
    <br>

    <div class="parent-div">
        <div class="card">
         <div class="card-header" style="background-color: white; color:black">
        <h4>Adding an expense</h4> 
        
         </div>
         <div class="card-body">
          <div class="card-text">
           1.Click on the expense button.<br>
           2.Choose the expense option from the provided options<br>
           3.Enter the total expense.<br>
           4.select employee making the transaction.<br>
           
           6.Then click on submit<br>
           
        </div>
        </div>
        
        </div>
        </div>
        <br>

        <div class="parent-div">
                <div class="card">
                 <div class="card-header" style="background-color: white; color:black">
                <h4>Reseting/balancing accounts </h4> 
                
                 </div>
                 <div class="card-body">
                  <div class="card-text">
                   1.Go to the home dashboard i.e accounts and the total amount<br>
                   2.Check the outstanding amount in sales eg if its 8000 make a sale of -8000 and submit<br>
                   3.The same applies for expense account eg if expenses is 3000 make an expense of -3000 and submit<br>
                   4.The same applies for purchase accounts eg if purchases is 8000 make a purchase of -8000 and submit<br>
                   5.The same applies for processed goods accounts eg if processed goods  is 8000 make a transaction of -8000 and submit<br>
                   outstanding balances in the dashboard should finally be zero.
                   
                </div>
                </div>
                
                </div>
                </div>
                <br>
                
            <div class="parent-div">
            <div class="card">
             <div class="card-header" style="background-color: white; color:black">
            <h4>Deleting transactions</h4> 
            
             </div>
             <div class="card-body">
              <div class="card-text">
               1.Go to the home dashboard i.e accounts and the total amount<br>
               2.If you want to delete all sales,click on the sales total amount and delete continously until the figure is zero<br>
               3.The same applies for purchases and expenses accounts.<br>
               
            </div>
            </div>
            
            </div>
            </div>
            
            
{%endblock%}