{%extends 'index.html'%}

{%block content%}
<br>
<br>
<br>





<div class="parent-div" id="invoice">

    <div class="card">
        <div class="card-header" style="background-color: snow; color: black; font-size: small;">
          <b style="float: left; ">INVOICE</b>
        
          
        </div>
  
      <li class="list-group-item"> <b style="float: left; color: black; ">Invoice no </b> 
      <a href="">
        <b style="float: right; color:black;">{{invoice.invoice_no}}</b></a></b></li>

        <li class="list-group-item"> <b style="float: left; color: black; font-size: small;">From</b> 
            <a href="">
              <b style="float: right; color:black; ">{{invoice.your_business_name}}</b></a></b></li>
        
      
      <li class="list-group-item"> <b style="float: left; color: black; ">To</b> 
            <a href="">
              <b style="float: right; color:black; ">{{invoice.customer_name}}</b></a></b></li>
        
    <li class="list-group-item"> <b style="float: left; color: black; ">Discount </b> 
                <a href="">
    <b style="float: right; color:black; ">{{invoice.discount}}</b></a></b></li>
            


     <li class="list-group-item"> <b style="float: left; color: black; ">Amount due </b> 
                <a href="">
                  <b style="float: right; color:black; ">{{invoice.actual_due}}</b></a></b></li>      
     
    
    <li class="list-group-item"> <b style="float: left; color: black;">Description</b> 
                    <a href="">
                      <b style="float: right; color:black; ">{{invoice.description}}</b></a></b></li>      
         
      
      
      
   <li class="list-group-item"> <b style="float: left; color: black; ">Status </b> 
                    <a href="">
            <b style="float: right; color:black; ">{{invoice.status}}</b></a></b></li>      
                
      
     <li class="list-group-item"> <b style="float: left; color: black;">Due date </b> 
                <a href="">
        <b style="float: right; color:black; ">{{invoice.due_date}}</b></a></b></li>      
            
    
  
          
      </div>
  </div>
  <br>

  <div class="parent-div">
    <div class="card">
      
        <button class="btn btn-info btn-block mybuttons" onclick="generatePdf()"><b>Download invoice</b></button>
      
       <hr>
      
        <a href="{%url 'invoice_home'%}" class="btn btn-outline-info btn-block mybuttons ">home</a><br>
        Download completes in roughly 5 sec ,click anywhere to stop
       
    
    </div>
    </div>
  
    <script type="text/javascript">

 
      
      function generatePdf(){
      const element = document.getElementById('invoice')
      html2pdf()
      .from(element)
      .save()
      
      }
      
      
      </script>



{%endblock%}

