{%extends 'index.html'%}

{%block content%}

<br>
<br>
<br>
<br>






<a href="{%url 'transaction_home'%}" class="btn btn-info  mybuttons ml-2">home</a>

<a href="{%url 'accounts'%}" class="btn btn-primary  mybuttons ml-2">Back to accounts</a>


<hr>

<b style="color: black;">EXPENSES REPORT BRANCH1</b>

<div class="table-responsive ">
    <table id="dataTable" class="table table-sm  table-light table-bordered  table-hover styleTable">



        <thead class="table-light">
            <tr>
            <th scope="col">Date</th>
            <th scope="col">Day</th>
            <th scope="col">Amount</th>
            
            <th scope="col">Description</th>
            <th scope="col">Mode of payment</th>
         
            <th scope="col">Update</th>
          
        </tr>
        </thead>

        <tbody>
            <tr>
                {%for transaction in object_list%}
                {%if transaction.expenseconfirmation%}
                <td><b>{{transaction.transaction_date|date:'j b,y'}}</b></td>
                <td><b>{{transaction.the_day}}</b></td>
                <td><b>{{transaction.expense}}</b></td>
                <td><b>{{transaction.expense_description}}</b></td>
                <td><b>{{transaction.mode_of_payment}}</b></td>
              <td><a href="{%url 'expense_update' transaction.id%}"
                        class="btn btn-primary badge-pill btn-sm mybuttons ">Update</a></td>
               
            </tr>
        </tbody>
          {%endif%}
            {%endfor%}

    </table>

    {%if is_paginated%}

    {%if page_obj.has_previous%}

    <a href="?page=1" class="btn btn-outline-primary btn-small badge-pill mb-4">first </a>
    <a href="?page={{page_obj.previous_page_number}}"
        class="btn btn-outline-primary btn-small badge-pill  mb-4">previous</a>

    {%endif%}

    {%for num in page_obj.paginator.page_range%}

    {%if page_obj.number == num%}

    <a href="?page={{num}}" class="btn btn-outline-primary btn-small badge-pill  mb-4">{{num}}</a>
    {%elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%} <a href="?page={{num}}"
        class="btn btn-outline-primary btn-small badge-pill mb-4">{{num}}</a>

        {%endif%}
        {%endfor%}

        {%if page_obj.has_next%}

        <a href="?page={{page_obj.next_page_number}}" class="btn btn-outline-primary btn-small badge-pill mb-4">next</a>
        <a href="?page={{page_obj.paginator.num_pages}}"
            class="btn btn-outline-primary btn-small badge-pill mb-4">last</a>

        {%endif%}

        {%endif%}




</div>

 
<hr>


{%endblock%}