{%extends 'index.html'%}


{%block content%}
<br>
<br>
<br>
<br>
{%if user.has_paid%}
<div class="parent-div">

    <div class="card">
        <div class="card-header" style="background-color: #0e4D92; color: #F5F5DC;">
          <b>SELECT YOUR BUSINESS CATEGORY</b>
          
        </div>
      
        <li class="list-group-item">
          <a href="{%url 'services_home'%}" class="btn btn-outline-dark btn-block mybuttons ">
            <b>Service based industry :<br>
               hospitals,clinics
              salons,kinyozis,spas,lodging, etc.</b></a>
        </li>

      <li class="list-group-item">
        <a href="{%url 'transaction_home'%}" class="btn btn-outline-dark btn-block mybuttons ">
          <b>Food based industry :<br>
             hotels,restuarants,cafes eateries,etc</b></a>
        </li>
  
         
      </div>
     {%else%} 

     <h1>You not unable to access the app because:</h1><br>
     <h3>You have not renewed subscription or you gave incorrect information during registration</h3> <br>

 

     <h3>Kindly pay or register with correct information,whichever one applies to you.</h3>

     {%endif%}



  </div>
{%endblock%}