{%extends 'index.html'%}

{%block content%}

<br>
<br>
<br>
<br>






<a href="{%url '4stock'%}" class="btn btn-info  mybuttons ml-2">Stock analysis</a>

<a href="{%url '4accounts'%}" class="btn btn-primary  mybuttons ml-2">Back to accounts</a>


<hr>

<b style="color: black;">PURCHASES REPORT BRANCH4</b>


<div class="table-responsive ">
    <table id="dataTable" class="table table-sm  table-light table-bordered  table-hover styleTable">



        <thead class="table-light">
            <tr>
            <th scope="col">Date</th>
            <th scope="col">Products</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Total price</th>
            <th scope="col">Update</th>
        </tr>
        </thead>
         <tbody>
            <tr>
                {%for transaction in object_list%}
                {%if transaction.purchaseconfirmation%}
                <td><b>{{transaction.transaction_date|date:'j b,y'}}| by {{transaction.employee}}</b></td>
                <td><b> {{transaction.products_purchased}}</b></td>
                <td><b>{{transaction.quantity_purchased}}{{transaction.units}}</b></td>
                <td><b>{{transaction.price_per_each}}</b></td>
                <td><b>{{transaction.total_purchases_price}}</b></td>
                
               <td><a href="{%url '4purchase_update' transaction.id%}"
                        class="btn btn-outline-primary badge-pill btn-sm mybuttons ">Update/repurchase</a></td>
        </tr>
        </tbody>
        {%endif%}
            {%endfor%}

    </table>

        {%if is_paginated%}

        {%if page_obj.has_previous%}

        <a href="?page=1" class="btn btn-outline-primary btn-small badge-pill mb-4">first </a>
        <a href="?page={{page_obj.previous_page_number}}"
            class="btn btn-outline-primary btn-small badge-pill  mb-4">previous</a>

        {%endif%}

        {%for num in page_obj.paginator.page_range%}

        {%if page_obj.number == num%}

        <a href="?page={{num}}" class="btn btn-outline-primary btn-small badge-pill  mb-4">{{num}}</a>
        {%elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%} <a href="?page={{num}}"
            class="btn btn-outline-primary btn-small badge-pill mb-4">{{num}}</a>

            {%endif%}
            {%endfor%}

            {%if page_obj.has_next%}

            <a href="?page={{page_obj.next_page_number}}" class="btn btn-outline-primary btn-small badge-pill mb-4">next</a>
            <a href="?page={{page_obj.paginator.num_pages}}"
                class="btn btn-outline-primary btn-small badge-pill mb-4">last</a>

            {%endif%}

            {%endif%}




</div>

 
<hr>

<div class="card" style="width: 21rem;">
    <div class="card-header" style="background-color: #0e4D92; color: #F5F5DC;">
    BASIC INFORMATION 
    </div>
    <div class="card-body">
    {%for transaction in object_list|slice:":1"%}
    
    <b>CASH PURCHASES: {{transaction.total_cash_purchase_amount}}</b><br>
    <b>MPESA PURCHASES: {{transaction.total_mpesa_purchase_amount}}</b><br>
    <b>BANK PURCHASES: {{transaction.total_bank_purchase_amount}}</b><br>
    
   
 
    {%endfor%}
    </div>
 </div>
 <hr>


{%endblock%}