{%extends 'index.html'%}

{%block content%}

<br>
<br>
<br>
<br>
<a href="{%url '4transaction_home'%}" class="btn btn-info  mybuttons ml-2">home</a>

<a href="{%url '4accounts'%}" class="btn btn-primary  mybuttons ml-2">Back to accounts</a>


<hr>

<b style="color: black;">PRODUCTS BRANCH4</b> 


<div class="table-responsive ">
    <table id="dataTable" class="table table-sm  table-light table-bordered  table-hover styleTable">



        <thead class="table-light">
            <tr>
            <th scope="col">Product</th>
            <th scope="col">quantity</th>
            <th scope="col">Price </th>
            <!-- <th scope="col">Total </th> -->
           <th scope="col">Update</th>
           <th scope="col">Delete</th>
           
        </tr>
        </thead>

        <tbody>
            <tr>
                {%for product in products%}
                <td><b>{{product.product}}</b></td>
                <td><b>{{product.quantity}}</b></td>
                <td><b>{{product.selling_price}}</b></td>
                
               

                <td><a href="{%url '4product_update' product.id%}"
                    class="btn btn-primary badge-pill btn-sm mybuttons ">Update</a></td>
            <td><a href="{%url '4product_delete' product.id%}"
                    class="btn btn-outline-danger badge-pill btn-sm mybuttons ">Delete</a></td>
            </tr>
        </tbody>
            {%endfor%}

    </table>

    {%if is_paginated%}

    {%if page_obj.has_previous%}

    <a href="?page=1" class="btn btn-outline-primary btn-small badge-pill mb-4">first </a>
    <a href="?page={{page_obj.previous_page_number}}"
        class="btn btn-outline-primary btn-small badge-pill  mb-4">previous</a>

    {%endif%}

    {%for num in page_obj.paginator.page_range%}

    {%if page_obj.number == num%}

    <a href="?page={{num}}" class="btn btn-outline-primary btn-small badge-pill  mb-4">{{num}}</a>
    {%elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%} <a href="?page={{num}}"
        class="btn btn-outline-primary btn-small badge-pill mb-4">{{num}}</a>

        {%endif%}
        {%endfor%}

        {%if page_obj.has_next%}

        <a href="?page={{page_obj.next_page_number}}" class="btn btn-outline-primary btn-small badge-pill mb-4">next</a>
        <a href="?page={{page_obj.paginator.num_pages}}"
            class="btn btn-outline-primary btn-small badge-pill mb-4">last</a>

        {%endif%}

        {%endif%}




</div>

 
<hr>




{%endblock%}