{%extends 'index.html'%}
{%load crispy_forms_tags%}

{%block content%}
<br>
<br>
<br>
<br>

<div class="parent-div">
    <div class="card">
        <div class="card-header" style="background-color: #0e4D92; color: #F5F5DC;">
            <b>ADD PRODUCT/MENU BRANCH3</b>
        </div>

        <div class="card-body">

            <form method="POST">
                {%csrf_token%}
                <fieldset class="form-group">


                    {{form|crispy}}
                </fieldset>
                <div>
                    <button class="btn btn-primary btn-block mybuttons " type="submit">Add product
                        </button> <br>
				  <a href="{%url '3products'%}" class="btn btn-outline-primary  btn-block mybuttons"><b>View products</b></a>
                    <br>				  
                    <a href="{%url '3products'%}" class="btn btn-outline-primary  btn-block mybuttons"><b>Cancel</b></a>


                </div>
            </form>


        </div>
    </div>
</div>


{%endblock content%}