{%extends 'index.html'%}
{%load crispy_forms_tags%}

{%block content%}
<br>
<br>
<br>
<br>


    <div class="parent-div">
        <div class="card"> 
            <div class="card-header" style=" background-color: #0e4D92; color: #F5F5DC;">
            <h3>Edit profile</h3> 
            </div>
            <div class="card-body">
                    <form method="POST">
                      
                        {%csrf_token%}
                        <fieldset class="form-group">
                            {{form|crispy}}
                        </fieldset>
                    
                        <div>
                            <button class="btn btn-primary btn-block " type="submit">Update profile</button>  <br>
                            <a class="btn btn-outline-primary btn-block mybuttons" href="{%url 'category'%}"><b>Back to categories</b></a>   

                        </div>
                    </form>
                        
            </div>
        </div> 
    </div>
                
{%endblock content%}


       


    










