{%block content%}
<br>
<br>
 <br>
 <br>
 <div class="parent-div">
    <div class="card" style="width: 22rem;">
        <div class="card-header">
            <H2>Confirmation</H2>
        </div>       
                <div class="card-body">
                   <div class='alert alert-info'>
                   Your password has been reset login <br>
                   <a class="ml-2" href="{%url 'login'%}">Login</a>
                   </div>

                </div>
        </div>     
    </div>
</div>       
{%endblock content%}