{%extends 'index.html'%}
{%load crispy_forms_tags%}

{%block content%}
<br>
<br>
<br>
<br>
    <div class="parent-div">
        <div class="card"   style="width: 22rem;"> 
            <div class="card-header" style=" background-color: #0e4D92; color: #F5F5DC;">
            <b>Reset password</b> 
            </div>
            <div class="card-body">
                    <form method="POST">
                        {%csrf_token%}
                        <fieldset class="form-group">
                            {{form|crispy}}
                           
                        </fieldset>
                        <div>
                            <button class="btn btn-primary btn-block " type="submit">Request password reset</button>     

                        </div>
                    </form>
                        
                        
            </div>
        </div> 
    </div>
                
{%endblock content%}


       
