{%extends 'index.html'%}

{%block content%}
<br>
<br>
<br>
<br>






<div class="parent-div" id="#">

    <div class="card">
        <div class="card-header" style="background-color: white; color: black;">
          <b style="float: left; "></b>
        
          
        </div>

      <li class="list-group-item"> <b style="float: left; color: black; ">PRODUCTS PURCHASED BRANCH2</b> 
      <a href="">
        <b style="float: right; color:black;">
        </b></a></b></li>


  
      <li class="list-group-item"> <b style="float: left; color: black; "></b> 
      <a href="">
        <b style="float: left; color:black;">{{transaction.products_purchased}}</b></a></b></li>
      
        <li class="list-group-item"> <b style="float: left; color: black; ">Mode</b> 
          <a href="">
            <b style="float: left; color:black;">{{transaction.mode_of_purchase}}</b></a></b></li>
      
        <li class="list-group-item"> <b style="float: left; color: black; ">Staff</b> 
          <a href="">
            <b style="float: right; color:black;">{{transaction.employee}}</b></a></b></li>

        
            
     
       
      </div>
  </div>
  <br>

  <div class="parent-div">
    <div class="card">
      
       
      
        <a href="{%url '2mypurchases'%}" class="btn btn-outline-dark btn-block mybuttons "><b>Back to purchases</b></a>

   
        
        <a href="{%url '2transaction_home'%}" class="btn btn-outline-dark btn-block mybuttons "><b>Home</b></a>

    
    </div>
    </div>
    
    



{%endblock%}

