{%extends 'index.html'%}


{%block content%}
<br>
<br>
<br>

<br>
<div class="parent-div">

    <div class="card">
        <div class="card-header" style="background-color: #0e4D92; color: #F5F5DC;">
          <b>ACCOUNTS BRANCH5

          </b>
          
        </div>
      
        <li class="list-group-item">
          <a href="{%url '5transaction_home'%}" class="btn btn-outline-dark btn-block mybuttons ">
            <b>Back home</b></a>
        </li>


        <li class="list-group-item">
          <a href="{%url '5receipts'%}" class="btn btn-outline-dark btn-block mybuttons ">
            <b>Click here to view receipts</b></a>
        </li>

      <li class="list-group-item">
        <a href="{%url '5mysales'%}" class="btn btn-outline-dark btn-block mybuttons ">
          <b>Click here to view sales</b></a>
        </li>
  
          <li class="list-group-item">
            <a href="{%url '5mypurchases'%}" class="btn btn-outline-dark btn-block mybuttons ">
              <b>Click here to view purchases</b></a>
          </li>

          
          <li class="list-group-item">
            <a href="{%url '5stock'%}" class="btn btn-outline-dark btn-block mybuttons ">
              <b>Click here to view stock analysis</b></a>
          </li>
         
          <li class="list-group-item">
            <a href="{%url '5myexpenses'%}" class="btn btn-outline-dark btn-block mybuttons ">
              <b>Click here to view expenses</b></a>
          </li>

          
          <li class="list-group-item">
            <a href="{%url '5mydebtors'%}" class="btn btn-outline-dark btn-block mybuttons ">
              <b>Click here to view debtors</b></a>
          </li>

          
          <li class="list-group-item">
            <a href="{%url '5mycreditors'%}" class="btn btn-outline-dark btn-block mybuttons ">
              <b>Click here to view creditors</b></a>
          </li>

          
          <li class="list-group-item">
            <a href="{%url '5products'%}" class="btn btn-outline-dark btn-block mybuttons ">
              <b>Click here to view products</b></a>
          </li>

          
          
        
        
        
      </div>
  </div>

<br>




{%endblock%}